@page "/humans/{HumanId}/gather"

@using Life.Application
@using Life.Application.Command
@using Life.Application.Data

@inject NavigationManager NavigationManager
@inject IHumanQueryService HumanQueryService
@inject IAreaQueryService AreaQueryService
@inject IHumanGatheringService HumanGatheringService

@if (_human is not null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">ホーム</a></li>
			<li class="breadcrumb-item"><a href="/humans">人間</a></li>
			<li class="breadcrumb-item"><a href="/humans/@_human.HumanId">@_human.FirstName @_human.Family.FamilyName</a></li>
			<li class="breadcrumb-item active" aria-current="page">@(_human.Area.AreaName)で採集</li>
		</ol>
	</nav>

	<h1>@(_human.Area.AreaName)で採集</h1>
}

@if (_model is not null)
{
	<EditForm Model="_model" OnValidSubmit="SubmitAsync">
		@foreach (ItemModel item in _model.Items)
		{
			<div class="form-check">
				<InputCheckbox class="form-check-input" id="@item.ItemId" disabled="@(item.IsValid ? null : "disabled")" @bind-Value="item.IsSubject" />
				<label class="form-check-label" for="@item.ItemId">@item.ItemName</label>
			</div>
			<InputNumber class="form-control" disabled="@(!item.IsSubject)" min="1" @bind-Value="item.Quantity" />
		}
		<div class="mt-3">
			<button type="submit" class="btn btn-primary">採集</button>
		</div>
	</EditForm>
}

@code {
	#region Fields

	/// <summary>
	/// 人間
	/// </summary>
	private HumanData? _human;

	/// <summary>
	/// モデル
	/// </summary>
	private GatheringModel? _model;

	#endregion

	#region Properties

	/// <summary>
	/// 人間IDを設定または取得します。
	/// </summary>
	[Parameter]
	public string HumanId { get; set; } = string.Empty;

	#endregion

	#region Methods

	/// <summary>
	/// 初期化された際に呼び出されます。
	/// </summary>
	/// <returns>非同期操作を返します。</returns>
	protected override async Task OnInitializedAsync()
	{
		_human = await HumanQueryService.QuerySingleAsync(HumanId);

		{
			AreaData area = await AreaQueryService.QuerySingleAsync(_human.Area.AreaId);

			List<ItemModel> itemModels = [];
			foreach (ItemSummaryData source in area.Items)
			{
				ItemModel itemModel;
				{
					bool isValid = _human.GatheringItems.Any(x => x.ItemId == source.ItemId);

					itemModel = new ItemModel(source.ItemId, source.ItemName, isValid);
				}

				itemModels.Add(itemModel);
			}

			_model = new GatheringModel(HumanId, itemModels);
		}
	}

	/// <summary>
	/// 送信します。
	/// </summary>
	/// <returns>非同期操作を返します。</returns>
	private async Task SubmitAsync()
	{
		{
			HumanGatheringCommand command = _model!.CreateCommand();

			await HumanGatheringService.GatherAsync(command);
		}

		NavigationManager.NavigateTo($"/humans/{HumanId}");
	}

	#endregion

	#region Nested types

	/// <summary>
	/// 採集モデル
	/// </summary>
	/// <param name="humanId">人間ID</param>
	/// <param name="items">アイテムのコレクション</param>
	private class GatheringModel(string humanId, IReadOnlyCollection<ItemModel> items)
	{
		#region Properties

		/// <summary>
		/// 人間IDを取得します。
		/// </summary>
		public string HumanId { get; } = humanId;

		/// <summary>
		/// アイテムのコレクションを取得します。
		/// </summary>
		public IReadOnlyCollection<ItemModel> Items { get; } = items;

		#endregion

		#region Methods

		/// <summary>
		/// コマンドを作成します。
		/// </summary>
		/// <returns>作成したコマンドを返します。</returns>
		public HumanGatheringCommand CreateCommand()
		{
			HumanGatheringCommand command;
			{
				List<HumanGatheringItemCommand> items = Items.Where(x => x.IsSubject).Select(x => new HumanGatheringItemCommand(x.ItemId, x.Quantity)).ToList();

				command = new HumanGatheringCommand(HumanId, items);
			}

			return command;
		}

		#endregion
	}

	/// <summary>
	/// アイテムモデル
	/// </summary>
	/// <param name="itemId">アイテムID</param>
	/// <param name="itemName">アイテム名</param>
	/// <param name="isValid">有効かどうか</param>
	private class ItemModel(string itemId, string itemName, bool isValid)
	{
		#region Properties

		/// <summary>
		/// アイテムIDを取得します。
		/// </summary>
		public string ItemId { get; } = itemId;

		/// <summary>
		/// アイテム名を取得します。
		/// </summary>
		public string ItemName { get; } = itemName;

		/// <summary>
		/// 有効かどうかを取得します。
		/// </summary>
		public bool IsValid { get; } = isValid;

		/// <summary>
		/// 数量を設定または取得します。
		/// </summary>
		public int Quantity { get; set; } = 1;

		/// <summary>
		/// 対象かどうかを設定または取得します。
		/// </summary>
		public bool IsSubject { get; set; }

		#endregion
	}

	#endregion
}
