@page "/humans/{HumanId}"

@using Life.Application
@using Life.Application.Data

@inject IHumanQueryService HumanQueryService

@if (_human is not null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">ホーム</a></li>
			<li class="breadcrumb-item"><a href="/humans">人間</a></li>
			<li class="breadcrumb-item active" aria-current="page">@_human.FirstName @_human.Family.FamilyName</li>
		</ol>
	</nav>

	<h1>@_human.FirstName @_human.Family.FamilyName</h1>

	<h2>人間</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>人間ID</th>
				<td>@_human.HumanId</td>
			</tr>
			<tr>
				<th>名</th>
				<td>@_human.FirstName</td>
			</tr>
		</tbody>
	</table>

	<h2 class="mt-4">家族</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>家族ID</th>
				<td>@_human.Family.FamilyId</td>
			</tr>
			<tr>
				<th>家族名</th>
				<td><a href="/families/@_human.Family.FamilyId">@_human.Family.FamilyName</a></td>
			</tr>
		</tbody>
	</table>

	<h2 class="mt-4">エリア</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>エリアID</th>
				<td>@_human.Area.AreaId</td>
			</tr>
			<tr>
				<th>エリア名</th>
				<td><a href="/areas/@_human.Area.AreaId">@_human.Area.AreaName</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-secondary" href="/humans/@_human.HumanId/move-area">エリア移動</a>
	<a class="btn btn-secondary" href="/humans/@_human.HumanId/gather">採集</a>
	<a class="btn btn-secondary" href="/humans/@_human.HumanId/build">建造</a>

	<h2 class="mt-4">レシピ(建造物)</h2>
	<table class="table">
		<thead>
			<tr>
				<th>建造物レシピID</th>
				<th>建造物名</th>
			</tr>
		</thead>
		<tbody>
			@foreach (BuildingRecipeSummaryData buildingRecipe in _human.BuildingRecipes)
			{
				<tr>
					<td class="id">@buildingRecipe.BuildingRecipeId</td>
					<td>@buildingRecipe.BuildingName</td>
				</tr>
			}
		</tbody>
	</table>

	<h2 class="mt-4">レシピ(アイテム)</h2>
	<table class="table">
		<thead>
			<tr>
				<th>アイテムレシピID</th>
				<th>アイテム名</th>
			</tr>
		</thead>
		<tbody>
			@foreach (ItemRecipeSummaryData itemRecipe in _human.ItemRecipes)
			{
				<tr>
					<td class="id">@itemRecipe.ItemRecipeId</td>
					<td><a href="/humans/@_human.HumanId/item-recipes/@itemRecipe.ItemRecipeId">@itemRecipe.ItemName</a></td>
				</tr>
			}
		</tbody>
	</table>

	<h2 class="mt-4">インベントリー</h2>
	<table class="table">
		<thead>
			<tr>
				<th>アイテムID</th>
				<th>アイテム名</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
			@foreach (InventorySlotData inventorySlot in _human.InventorySlots)
			{
				<tr>
					<td class="id">@inventorySlot.Item.ItemId</td>
					<td><a href="/items/@inventorySlot.Item.ItemId">@inventorySlot.Item.ItemName</a></td>
					<td>@inventorySlot.Quantity</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	#region Fields

	/// <summary>
	/// 人間
	/// </summary>
	private HumanData? _human;

	#endregion

	#region Properties

	/// <summary>
	/// 人間IDを設定または取得します。
	/// </summary>
	[Parameter]
	public string HumanId { get; set; } = string.Empty;

	#endregion

	#region Methods

	/// <summary>
	/// 初期化された際に呼び出されます。
	/// </summary>
	/// <returns>非同期操作を返します。</returns>
	protected override async Task OnInitializedAsync()
	{
		_human = await HumanQueryService.QuerySingleAsync(HumanId);
	}

	#endregion
}
